## Getting Started with Jarjarquant
---

This notebook demonstrates how to use the Jarjarquant library for quantitative trading analysis. Jarjarquant provides tools for accessing market data, calculating technical indicators, and analyzing trading strategies.

### Setup
First, we'll import the Jarjarquant library and set up our environment. We're using `nest_asyncio` to allow running async code in the notebook.

In [ ]:
# Import Jarjarquant and nest_asyncio for running async code in notebook
from jarjarquant import Jarjarquant
import nest_asyncio
nest_asyncio.apply()  # Apply nest_asyncio to allow running async code in Jupyter

# Initialize Jarjarquant with TWS (Interactive Brokers Trader Workstation) as data source
jjq = Jarjarquant(data_source='tws')

### Examining the Data
Let's look at the initial data frame to see what market data we have available.

In [ ]:
# Display the first few rows of the dataframe to see available market data
jjq.df.head()

         date  Open  High   Low  Close       Volume  average  barCount
0  2007-05-15  3.07  3.10  3.03   3.03  165084000.0  3.06090     37328
1  2007-05-16  3.05  3.17  3.01   3.16  265328000.0  3.08140     53661
2  2007-05-17  3.14  3.18  3.10   3.11  228002000.0  3.13155     51722
3  2007-05-18  3.12  3.17  3.11   3.17  180934000.0  3.13410     42113
4  2007-05-21  3.18  3.43  3.17   3.42  704580000.0  3.35015    144002

### Available Indicators
Jarjarquant provides various technical indicators. Let's explore the RSI (Relative Strength Index) indicator options.

In [ ]:
# List available indicators and show detailed information about RSI
import json
json.loads(jjq.list_indicators())['RSI']  # Extract RSI information from available indicators

[{'name': 'period', 'type': 'int', 'default': 14},
 {'name': 'transform', 'type': '_empty', 'default': None}]

In [ ]:
# Add RSI indicator with a 9-period lookback
jjq.add_indicator(Jarjarquant.rsi, 'RSI', period=9)

In [ ]:
# Display the updated dataframe with the RSI indicator
jjq.df.head()

         date  Open  High   Low  Close       Volume  average  barCount  RSI
0  2007-05-15  3.07  3.10  3.03   3.03  165084000.0  3.06090     37328  0.0
1  2007-05-16  3.05  3.17  3.01   3.16  265328000.0  3.08140     53661  0.0
2  2007-05-17  3.14  3.18  3.10   3.11  228002000.0  3.13155     51722  0.0
3  2007-05-18  3.12  3.17  3.11   3.17  180934000.0  3.13410     42113  0.0
4  2007-05-21  3.18  3.43  3.17   3.42  704580000.0  3.35015    144002  0.0